.calculator{
    border: 1px solid black;
    margin: auto;
}

.button{
    width: 100%;
    padding: 20px 40px;
    background-color: navy;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
}

.text{
    padding: 20px 30px;
    font-size: 24px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}